@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li><a asp-controller="Adresses" asp-action="Index">Пользов</a></li>
        <li><a asp-controller="Applications" asp-action="Index">Роли</a></li>
        <li><a asp-controller="Categoris" asp-action="Index">Аниме</a></li>
        <li><a asp-controller="Clients" asp-action="Index">Авторы</a></li>
        <li><a asp-controller="Mebels" asp-action="Index">Комментарии</a></li>
        <li><a asp-controller="Pasports" asp-action="Index">Манга</a></li>
        <li><a asp-controller="Positions" asp-action="Index">Издательства</a></li>
        <li><a asp-controller="Postavhiks" asp-action="Index">Студии</a></li>
        <li><a asp-controller="Postavkis" asp-action="Index">Произведения</a></li>
        <li><a asp-controller="SostavZakazas" asp-action="Index">Произведения</a></li>
        <li><a asp-controller="Staffs" asp-action="Index">Произведения</a></li>
    </ul>
</div>

